.CustomerDetail {
  border: 1px solid aquamarine;
  margin: 12px;
  border-radius: 4px;
  width: 300px;
  background-color: #fafbfd;
  box-shadow: 1px 2px 5px 3px rgba(0,0,0,.1);
  padding: 4px 2px;
  transition: 0.3s;
}

.CustomerDetail .hoverText {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.CustomerDetail:hover .hoverText {
  visibility: visible;
}
.CustomerDetail:hover {
  border-color: green;
  background-color: #3e8e41;
  color: white;
}

.CustomerDetail-id {
  font-size: 18px;
  margin: 0 8px 4px;
  border-bottom: 1px solid #333;
  text-align: left;
  padding: 4px 8px;
}

.CustomerDetail-name {
  word-wrap: break-word;
  padding: 8px;
}